@page "/"

<PageTitle>SplinterChecker</PageTitle>


@inject NavigationManager NavigationManager


<p>
    Hi All,<br />
    I have created this website to help me gather info about my account and to learn bit of coding. <br />
    I don't collect any user information just showing data. <br />
    Ping me if you need anything on either Splinterland or Splinterforge discord.<br />
    Discord id Glooom<br />    <br />
    Also, If you find this website usefull fee free to share some goodies with my account "gloomster" :DDD
    <br />    <br />
    Thanks All....

</p>

@code {

}