@inherits LayoutComponentBase

<PageTitle>SplinterChecker</PageTitle>

<div class="page">
    <div style="background-image:none;background-color:#262626;" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-10">
            @Body
        </article>
    </main>
</div>
